.outputcontainer{
  display: grid;
 width: 100%;
 position: relative;
 background-color: #d5d5d5;
   align-items: center;
   justify-content: center;
 }
 .output{
  display: flex;
  justify-content: center;
  position: relative;
 }
 .showFrame
{
  justify-content: center;
  border:5px solid black;
  display: flex;
  height: 50vh;
  width: 100%;
  background: white;
}
.images{
  height: 100%;
  width: 100%;
}